:root {
  --main-bg: #24292e;
  --titlebar-bg: #1f2428;
  --titlebar-hover: #343b41;
  --titlebar-border: #191d20;
  --bottombar-bg: #24292e;
  --bottombar-border: #1b1f23;
  --bottombar-hover-bg: #4f4f52;
}