.contact {
  display: flex;
  flex-direction: row;
  background-color: #0f100f;
  color: #dadfdc;
  height: 24.7em;
  padding: 6%;
}

.contact-info {
  background-color: #0f100f;
  color: #dadfdc;
  padding: 2%;
}

.contact-title {
  font-weight: bolder;
}

.contact-desc {
  font-size: large;
  margin-top: 2%;
}

.download-cv-button {
  background-color: #dadfdc;
  color: #0f100f;
  font-size: x-large;
  border: none;
  cursor: pointer;
  margin-top: 5%;
  border-radius: 15px;
  padding: 2%;
  transition: all 0.5s ease-in-out;
}

.download-cv-button:hover {
  background-color: #2b2c2b;
  color: #dadfdc;
  box-shadow: 5px 7px 21px -8px rgba(245, 245, 245,1);
  -webkit-box-shadow: 5px 7px 21px -8px rgba(245, 245, 245,1);
  -moz-box-shadow: 5px 7px 21px -8px rgb(245, 245, 245);
}

.contact-items {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  background-color: #dadfdc;
  color: #0f100f;
  width: 50%;
  height: 90%;
  border-radius: 50px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
  font-weight: bold;
  font-size: large;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  border-radius: 15px;
}

.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50%;
  border-radius: 100px;
  box-shadow: 5px 7px 21px -8px rgba(0,0,0,1);
  -webkit-box-shadow: 5px 7px 21px -8px rgba(0,0,0,1);
  -moz-box-shadow: 5px 7px 21px -8px rgba(0,0,0,1);
}

.span-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50px;
  color: #0f100f;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.span-contact:hover {
  transform: scale(1.7);
}

@media (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    background-color: #0f100f;
    color: #dadfdc;
    height: 32em;
  }

  .contact-info {
    background-color: #0f100f;
    color: #dadfdc;
    padding: 2%;
  }

  .download-cv-button {
    font-size: x-large;
    border: none;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 15px;
    padding: 2%;
    transition: all 0.5s ease-in-out;
  }

  .contact-items {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    background-color: #dadfdc;
    color: #0f100f;
    width: 90%;
    height: 90%;
    border-radius: 50px;
  }
}

@media (max-width: 400px) {
  .contact {
    height: 40.5em;
  }
}