.navbar {
  display: flex;
  flex-direction: row;
  background-color: #0f100f;
  flex-wrap: nowrap;
  color: #dadfdc;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  height: 8%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: slide-down 0.7s ease-out;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.nav-title {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: flex-start;
}

.nav-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: lighter;
  list-style: none;
  align-items: flex-end;
}

.nav-item {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  font-size: medium;
}

li.nav-item a:not(.active)::after {
  display: block;
  content: "";
  height: 1px;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #dadfdc;
  transition: width 0.3s ease-in-out;
}

li.nav-item a:not(.active):hover {
  font-weight: bold;
  font-size: large;
}

li.nav-item a:not(.active):hover::after {
  width: 100%;
}

li.nav-item a.active {
  font-weight: bold;
  font-size: large;
}

li.nav-item a.active::after {
  display: block;
  content: '';
  height: 1px;
  background-color: #dadfdc;
  margin-top: 1px;
  transition: width 0.5s ease-out;
}
